<div style="border: 1px solid #000;">
	<h2 style="background-color: #f00; color: #fff; margin: 0; padding: 1em;">Notice</h2>
	<p>This is a proof of concept for moving the W3C's Techniques for <acronym title="Web Content Accessibility Guidelines">WCAG</acronym> 2.0 to GitHub as talked about here: <a href="https://twitter.com/davidmacd/status/365887955308527617">https://twitter.com/davidmacd/status/365887955308527617</a>. There is no guarantee that this document is accurate.</p>
	<p>Refer to the official <a href="http://www.w3.org/TR/WCAG-TECHS/">Techniques for <acronym title="Web Content Accessibility Guidelines">WCAG</acronym> 2.0 published on the W3C's Web site</a>.</p>
</div>
