<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="http://www.w3.org/TR/WCAG-TECHS/additional.css"/>
	<link rel="stylesheet" type="text/css" href="http://www.w3.org/StyleSheets/TR/W3C-WG-NOTE.css"/>
	<link rel="stylesheet" type="text/css" href="http://www.w3.org/TR/WCAG-TECHS/additional.css"/>
</head>
<body>

<a name="top"/>
<p align="center">[<a href="#contents">contents</a>] </p>

<div class="head">
	<p><a href="http://www.w3.org/"><img src="http://www.w3.org/Icons/w3c_home" alt="W3C" height="48" width="72"/></a></p>
	<h1><a name="title" id="title"> </a>{{ page.title }}</h1>
	<h2><a name="subtitle" id="subtitle">{{ page.subtitle }}</a></h2>
	<h2><a name="w3c-doctype" id="w3c-doctype"> </a>W3C Working Group Note {{ page.date }}</h2>
	<dl>
		<dt>This version:</dt>
		<dd><a href="http://www.w3.org/TR/2012/NOTE-WCAG20-TECHS-20120103/">http://www.w3.org/TR/2012/NOTE-WCAG20-TECHS-20120103/</a></dd>
		<dt>Latest version:</dt>
		<dd><a href="http://www.w3.org/TR/WCAG20-TECHS/">http://www.w3.org/TR/WCAG20-TECHS/</a></dd>
		<dt>Previous version:</dt>
		<dd><a href="http://www.w3.org/TR/2010/NOTE-WCAG20-TECHS-20101014/">http://www.w3.org/TR/2010/NOTE-WCAG20-TECHS-20101014/</a></dd>
		<dt>Editors:</dt>
		<dd>Michael Cooper, W3C</dd>
		<dd>Loretta Guarino Reid, Google, Inc.</dd>
		<dd>Gregg Vanderheiden, Trace R&amp;D Center, University of Wisconsin-Madison</dd>
		<dt>Previous Editors:</dt>
		<dd>Ben Caldwell (until September 2010 while at Trace R&amp;D Center, University of Wisconsin-Madison)</dd>
		<dd>Wendy Chisholm (until July 2006 while at W3C)</dd>
		<dd>John Slatin (until June 2006 while at Accessibility Institute, University of Texas at Austin)</dd>
	</dl>
	<p>This document is also available in these non-normative formats: </p>
	<ul>
		<li><a href="complete.html">Single file version</a></li>
		<li><a href="complete-diff.html">Single file diff-marked version showing revisions since 14 October 2010</a>, and </li>
		<li><a href="/WAI/WCAG20/versions/techniques/">Alternate Versions of Techniques for WCAG 2.0</a>, </li>
	</ul>
	<p class="copyright"><a href="http://www.w3.org/Consortium/Legal/ipr-notice#Copyright">Copyright</a> © 2012 <a href="http://www.w3.org/"><acronym title="World Wide Web Consortium">W3C</acronym></a><sup>®</sup> (<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, <a href="http://www.ercim.eu/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>, <a href="http://www.keio.ac.jp/">Keio</a>), All Rights Reserved. W3C <a href="http://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer">liability</a>, <a href="http://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks">trademark</a> and <a href="http://www.w3.org/Consortium/Legal/copyright-documents">document use</a> rules apply.</p>
</div>
<hr/>

{{ content }}

<hr/>

<div class="front"/>
<div class="body"/>
<div class="back"/>
<!-- BOTTOM NAVIGATION BAR -->
<ul id="navigationbottom">
	<li><strong><a href="#top">Top</a></strong></li>
	<li><strong><a href="Overview.html#contents" title="Table of Contents">Contents</a></strong></li>
	<li><strong><a href="intro.html" title="Introduction to Techniques for WCAG 2.0"><abbr title="Introduction">Intro</abbr></a></strong></li>
	<li><a title="Sufficient and Advisory Techniquessuff-adv-techs: " href="intro.html#suff-adv-techs"><strong>Next: </strong>Sufficient and Advisory Techniques Technique suff-adv-techs</a></li>
</ul>

</body>
</html>
